<!doctype html>
<html dir="ltr" class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Riya Cab - 24/7 Taxi Service Available</title>
    <meta name="author" content="Riya Cab">
    <meta name="description" content="Riya Cab - 24/7 Taxi Service Available">
    <meta name="keywords" content="Taxi Service Riya Cab Cabs Taxi in Mathura Taxi In Vrindavan">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="/static/assets/img/favicons/manifest.json">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Radio+Canada:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/static/assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/static/assets/css/slick.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/static/assets/css/jquery.datetimepicker.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/static/assets/css/style.css">

</head>

<body class="theme-red">


<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->


<!--********************************
       Code Start From Here
******************************** -->


<!--==============================
 Preloader
==============================-->
<div class="preloader">
    <button class="th-btn style3 preloaderCls">Cancel Preloader</button>
    <div class="preloader-inner">
        <div class="loading-window">
            <div class="car">
                <div class="strike"></div>
                <div class="strike strike2"></div>
                <div class="strike strike3"></div>
                <div class="strike strike4"></div>
                <div class="strike strike5"></div>
                <div class="car-detail spoiler"></div>
                <div class="car-detail back"></div>
                <div class="car-detail center"></div>
                <div class="car-detail center1"></div>
                <div class="car-detail front"></div>
                <div class="car-detail wheel"></div>
                <div class="car-detail wheel wheel2"></div>
            </div>
        </div>
    </div>
</div>
<!--==============================
Mobile Menu
============================== -->
<div class="th-menu-wrapper">
    <div class="th-menu-area text-center">
        <button class="th-menu-toggle "><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="index.html"><img src="/static/assets/img/logo.svg" alt="Taxiar"></a>
        </div>
        <div class="th-mobile-menu">
            <ul>
                <li class="menu-item-has-children">
                    <a href="/">Home</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">About Us</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Service</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="popup-search-box d-none d-lg-block">
    <button class="searchClose"><i class="fal fa-times"></i></button>
    <form action="#">
        <input type="text" placeholder="What are you looking for">
        <button type="submit"><i class="fal fa-search"></i></button>
    </form>
</div>
<!--==============================
Sidemenu
============================== -->
<div class="sidemenu-wrapper d-none d-lg-block  ">
    <div class="sidemenu-content bg-title">
        <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget footer-widget">
            <h3 class="widget_title">About Company</h3>
            <div class="th-widget-about">
                <p class="footer-text">Centric aplications productize before front end vortals visualize front end is
                    results and value added</p>
                <h4 class="footer-info-title">WE ARE AVAILABLE</h4>
                <p class="footer-text">Mon-Sat: 09.00 am to 6.30 pm</p>
                <a href="contact.html" class="th-btn style3"><span class="btn-text">Contact Us</span></a>
            </div>
        </div>
        <div class="widget footer-widget">
            <h3 class="widget_title">Recent Posts</h3>
            <div class="recent-post-wrap">
                <div class="recent-post">
                    <div class="media-img">
                        <a href="blog-details.html"><img src="/static/assets/img/blog/recent-post-1-2.jpg"
                                                         alt="Blog Image"></a>
                    </div>
                    <div class="media-body">
                        <div class="recent-post-meta">
                            <a href="blog.html"><i class="far fa-calendar-days"></i>22th May, 2023</a>
                        </div>
                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">How To Start Car Engine
                            Faster</a></h4>
                        <a class="line-btn" href="blog.html">Read More<i class="fa-regular fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="recent-post">
                    <div class="media-img">
                        <a href="blog-details.html"><img src="/static/assets/img/blog/recent-post-1-3.jpg"
                                                         alt="Blog Image"></a>
                    </div>
                    <div class="media-body">
                        <div class="recent-post-meta">
                            <a href="blog.html"><i class="far fa-calendar-days"></i>25th May, 2023</a>
                        </div>
                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">How to start car engine
                            slowly</a></h4>
                        <a class="line-btn" href="blog.html">Read More<i class="fa-regular fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget footer-widget">
            <h4 class="widget_title">Get Newsletter</h4>
            <div class="newsletter-widget">
                <p class="md-20">Sign up today for hints, tips & latest car overview and news</p>
                <form class="newsletter-form">
                    <input class="form-control" type="email" placeholder="Email Address" required="">
                    <button type="submit" class="newsletter-btn"><i class="fas fa-envelope"></i></button>
                </form>
                <div class="th-social  style2">
                    <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    <a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================
Header Area
==============================-->
<header class="th-header  header-layout6">
    <!-- Menu Top -->
    <div class="container">
        <div class="menu-top">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-auto">
                    <div class="header-logo">
                        <a href="index.html"><img src="/static/assets/img/logo-black2.svg" alt="Taxiar"></a>
                    </div>
                </div>
                <div class="col-auto ms-auto d-none d-lg-block">
                    <div class="info-card-wrap">
                        <div class="info-card">
                            <div class="info-card_icon">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="info-card_content">
                                <p class="info-card_text">Email Adress:</p>
                                <a href="mailto:info@example.com" class="info-card_link">riyataxicab.com</a>
                            </div>
                        </div>
                        <div class="info-card">
                            <div class="info-card_icon">
                                <i class="fal fa-phone"></i>
                            </div>
                            <div class="info-card_content">
                                <p class="info-card_text">Phone Number:</p>
                                <a href="tel:+46825476243" class="info-card_link">+91 8279905967</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto ml-20 d-none d-sm-block">
                    <div class="header-button">
                        <a href="booking.html" class="th-btn">BOOK A TAXI</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Menu -->
    <div class="sticky-wrapper">
        <div class="container">
            <div class="menu-area">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <nav class="main-menu d-none d-lg-block">
                            <ul>
                                <li class="menu-item-has-children">
                                    <a href="index.html">Home</a>
                                </li>
                                <li><a href="#about-sec">About Us</a></li>
                                <li><a href="#service-sec">Services</a></li>
                                <li><a href="#taxi-sec">Taxi</a></li>
                                <li><a href="#blog-sec">Blog</a></li>
                                <li><a href="#contact-sec">Contact Us</a></li>
                            </ul>
                        </nav>
                        <button class="th-menu-toggle  d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                    </div>
                    <div class="col-auto">
                        <div class="header-button">
                            <div class="langauge">
                                <select class="form-select nice-select">
                                    <option selected="">language</option>
                                    <option>English</option>
                                    <option>Hindi</option>
                                </select>
                            </div>
                            <button type="button" class="icon-btn searchBoxToggler"><i class="far fa-search"></i>
                            </button>
                            <a href="#" class="icon-btn sideMenuToggler"><i class="far fa-bars"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--==============================
Hero Area
==============================-->
<div class="th-hero-wrapper  hero-slider-6">
    <div class="th-hero-slide" data-bg-src="/static/assets/img/bg/hero_bg_6_1.jpg">
        <div class="hero-img">
            <img src="/static/assets/img/bg/hero_img-6.png" alt="Hero Image">
            <img src="/static/assets/img/bg/hero-shape-1.png" alt="shape" class="shape-1">
            <img src="/static/assets/img/bg/hero-shape-2.png" alt="shape" class="shape-2">
            <img src="/static/assets/img/bg/hero-shape-3.png" alt="shape" class="shape-3">
            <img src="/static/assets/img/bg/hero-shape-1.png" alt="shape" class="shape-4">
            <img src="/static/assets/img/bg/hero-shape-4.png" alt="shape" class="shape-5">
            <img src="/static/assets/img/bg/hero-shape-5.png" alt="shape" class="shape-6">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ps-3 ps-xl-5">
                    <form id="booking_detail" class="booking-form3 ajax-contact wow fadeInUp">
                        {% csrf_token %}
                        <div class="info-card_content text-center">
                            <p class="info-card_text">Call for book an order:</p>
                            <a href="tel:+2563153215" class="info-card_link">8279905967</a>&nbsp;
                            <a href="tel:+2563153215" class="info-card_link">9917305439</a>&nbsp;
                            <a href="tel:+2563153215" class="info-card_link">8534874673</a>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="number" class="form-control" name="mobile" id="mobile"
                                       placeholder="Mobile Number">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" name="name" id="name"
                                       placeholder="Enter Your Name">
                            </div>
                            <div class="form-group col-sm-12">
                                <textarea name="address" id="address" class="form-control" cols="30" rows="10"
                                          placeholder="Enter Address"></textarea>
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="date-pick form-control" name="date" id="date-pick"
                                       placeholder="Select Date">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="time-pick form-control" name="time" id="time-pick"
                                       placeholder="Select Time">
                            </div>

                            <div class="form-group col-12">
                                <input type="text" class="form-control" name="car_name" id="car_name"
                                       placeholder="Car Name">
                            </div>
                            <div class="form-group col-12">
                                <input type="text" class="form-control" name="passenger" id="passenger"
                                       placeholder="No Of Passengers">
                            </div>

                            <div class="form-btn col-12">
                                <button class="th-btn" type="submit">Book Your Vehicle</button>
                            </div>
                        </div>
                        <p class="form-messages mb-0 mt-3"></p>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!--======== / Hero Section ========-->


<!--==============================
Taxi Area
==============================-->
<section class="bg-top-center" id="taxi-sec">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Our Taxi<span class="double-line"></span></span>
            <h2 class="sec-title text-capitalize">Choose Our Taxi Collection</h2>
        </div>
        <div class="tab-content">
            <!-- Single item -->
            <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
                <div class="row gy-5">
                    {% for cars in cars %}
                    <div class="col-md-6 col-lg-6 col-xl-4">
                        <div class="taxi-item style2">
                            <div class="taxi-item_img">
                                <img src="{% if cars.car_img %} {{ cars.car_img.url }} {% endif %}" alt="service image"
                                     class="img-fluid">
                            </div>
                            <h3 class="taxi-item_title"><a href="taxi-details.html">{{cars.car_name}}</a></h3>
                            <p class="taxi-item_subtitle">₹ &nbsp;{{cars.car_rate_with_km}}/km</p>
                            <div class="taxi-item_feature">
                                <span><img src="assets/img/icon/taxi_f_2_1.svg" alt="">Passengers</span>
                                <span class="taxi-item_info">{{cars.car_passenger}}</span>
                            </div>
                            <div class="taxi-item_feature">
                                <span><img src="assets/img/icon/taxi_f_2_3.svg" alt="">Base Rate:</span>
                                <span class="taxi-item_info">₹ &nbsp;{{cars.base_rate}}/km</span>
                            </div>

                            <div class="taxi-item_feature">
                                <span><img src="assets/img/icon/taxi_f_2_4.svg" alt="">Air Conditioner:</span>
                                <span class="taxi-item_info">{% if cars.air_conditioner %} Yes {% else %} No {% endif %}</span>
                            </div>
                            <!--                                <a href="taxi-details.html" class="th-btn fw-btn">book Now Taxi<i class="fa-regular fa-arrow-right ms-2"></i></a>-->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!--video-->
<section class="bg-top-center space">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Videos<span class="double-line"></span></span>
        </div>
        <div class="tab-pane fade show active" id="nav-four" role="tabpanel" aria-labelledby="nav-two-tab">
            <div class="row gy-5">
                {% for video in video %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="team-item">
                        <div class="video-container">
                            {{video.video_link|safe}}
                        </div>
                        <h3 class="team-item_title"><a href="team-details.html">{{video.video_title}}</a></h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--end video-->

<!--TOURIST PLACE SECTION-->
<section class="bg-smoke space background-image"
         style="background-image: url(&quot;static/assets/img/bg/testi_bg_1.jpg&quot;);">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Tourist Places<span class="double-line"></span></span>
            <h2 class="sec-title text-capitalize">Best Tourist place</h2>
        </div>
        <div class="tab-pane fade show active" id="nav-two" role="tabpanel" aria-labelledby="nav-two-tab">
            <div class="row gy-5">

                {% for place in place %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="{% if place.image %}{{place.image.url}}{% endif %}" alt="Team">
                        </div>
                        <div class="team-item_content">
                            <h3 class="team-item_title"><a href="team-details.html">{{place.name}}</a></h3>
                        </div>
                        <div class="info-item">
                            <h3 class="team-item_title"><a href="team-details.html">{{place.name}}</a></h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!--HOTEL SECTION-->
<section class="bg-smoke space background-image"
         style="background-image: url(&quot;static/assets/img/bg/testi_bg_1.jpg&quot;);">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Hotels<span class="double-line"></span></span>
            <h2 class="sec-title text-capitalize">Best hotels for you</h2>
        </div>
        <div class="tab-pane fade show active" id="nav-three" role="tabpanel" aria-labelledby="nav-two-tab">
            <div class="row gy-5">

                {% for hotel in hotel %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="{% if hotel.image %}{{hotel.image.url}}{% endif %}" alt="Team">
                        </div>
                        <div class="team-item_content">
                            <h3 class="team-item_title"><a href="team-details.html">{{hotel.name}}</a></h3>
                        </div>
                        <div class="info-item">
                            <h3 class="team-item_title"><a href="team-details.html">{{hotel.name}}</a></h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--==============================
Footer Area
==============================-->
<footer class="footer-wrapper footer-layout3">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">About Company</h3>
                        <div class="th-widget-about">
                            <p class="footer-text">Centric aplications productize before front end vortals visualize
                                front end is results and value added</p>
                            <h4 class="footer-info-title">WE ARE AVAILABLE</h4>
                            <p class="footer-text">Mon-Sat: 09.00 am to 6.30 pm</p>
                            <a href="contact.html" class="th-btn style3"><span class="btn-text">Contact Us</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Recent Posts</h3>
                        <div class="recent-post-wrap">
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="/static/assets/img/blog/recent-post-1-2.jpg"
                                                                     alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="far fa-calendar-days"></i>22th May, 2023</a>
                                    </div>
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">How To Start
                                        Car Engine Faster</a></h4>
                                    <a class="line-btn" href="blog.html">Read More<i
                                            class="fa-regular fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="/static/assets/img/blog/recent-post-1-3.jpg"
                                                                     alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="far fa-calendar-days"></i>25th May, 2023</a>
                                    </div>
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">How to start
                                        car engine slowly</a></h4>
                                    <a class="line-btn" href="blog.html">Read More<i
                                            class="fa-regular fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu  footer-widget">
                        <h3 class="widget_title">Quick link</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="booking.html">Book Ride</a></li>
                                <li><a href="service.html">Client Feedback</a></li>
                                <li><a href="service.html">Our Services</a></li>
                                <li><a href="team.html">Our Drivers</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h4 class="widget_title">Get Newsletter</h4>
                        <div class="newsletter-widget">
                            <p class="md-20">Sign up today for hints, tips & latest car overview and news</p>
                            <form class="newsletter-form">
                                <input class="form-control" type="email" placeholder="Email Address" required="">
                                <button type="submit" class="newsletter-btn"><i class="fas fa-envelope"></i></button>
                            </form>
                            <div class="th-social  style2">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                                <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <p class="copyright-text">© 2023 <a href="https://themeforest.net/user/themeholy">Taxiar</a>. All Rights
                Reserved.</p>
        </div>
    </div>
</footer>


<!--********************************
        Code End  Here
******************************** -->

<!-- Scroll To Top -->
<div class="scroll-top">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
              style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
        </path>
    </svg>
</div>


<!--==============================
All Js File
============================== -->
<!-- Jquery -->
<script src="/static/assets/js/vendor/jquery-3.6.0.min.js"></script>
<!-- Slick Slider -->
<script src="/static/assets/js/slick.min.js"></script>
<!-- Bootstrap -->
<script src="/static/assets/js/bootstrap.min.js"></script>
<!-- Magnific Popup -->
<script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Counter Up -->
<script src="/static/assets/js/jquery.counterup.min.js"></script>
<!-- Isotope Filter -->
<script src="/static/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/assets/js/isotope.pkgd.min.js"></script>
<script src="/static/assets/js/jquery-ui.min.js"></script>
<!-- Nice Select -->
<script src="/static/assets/js/nice-select.min.js"></script>
<!-- Date Time Picker -->
<script src="/static/assets/js/jquery.datetimepicker.min.js"></script>


<!-- Wow -->
<script src="/static/assets/js/wow.min.js"></script>
<!-- Main Js File -->
<script src="/static/assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>

<script>
    $(document).ready(function() {
        $(document).on('click', 'iframe', function() {
            $('iframe').each(function() {
                $(this).attr('src', $(this).attr('src'));
            });
        });
    });

    $('#booking_detail').on('submit', function(e){
        e.preventDefault();
        var formData = $('#booking_detail').serialize();
        $.ajax({
          url: '/booking_detail/submit_detail/',
          type: 'POST',
          data: formData,
          success: function (response) {
            if(response.status == 1){
                  Swal.fire({
                    title: 'Success',
                    text: 'Booking has been submitted successfully, we will contact you shortly.',
                    icon: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'OK'
                  }).then((result) => {
                    $('#booking_detail')[0].reset();
                  });
            }else{
                  Swal.fire({
                      title: 'Error',
                      text: 'Something went wrong try again later.',
                      icon: 'error',
                      confirmButtonColor: '#3085d6',
                      confirmButtonText: 'OK'
                  });
                  return false;
            }
          },
        });
    })
</script>
</body>

</html>
